.heads {
    background: #FFF;
    width: 60%;
    left: 0;
    top: 0;
    margin-left: 270px;
    position: fixed;
}

.p1 {
    float: left;
    line-height: 20px;
}

.p2 {
    float: right;
    line-height: 20px;
}

.tb {
    background-color: #808080;
}

.tit {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: aliceblue;
    font-size: 25px;
}

.num {
    font-size: 15px;
}

.tt {
    background-color: #FFF;
}

.tprin {
    margin: 0 auto;
    padding: 10px;
    border-left: 3pt dashed #808080;
    border-right: 3pt dashed #808080;
}

td {
    border-radius: 5px;
    vertical-align: top;
}

body {
    padding-top: 60px;
}

.crt {
    margin-left: 1000px;
    background-color: aqua;
    margin-right: 316px;
}