@import url('https://fonts.googleapis.com/css?family=Corben:700');
h1 {
    font-family: 'Corben', cursive;
    font-size: 6rem;
    color: white;
    line-height: 500%;
    letter-spacing: 0.1rem;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.66);
}

* {
    margin: 0%;
    padding: 0%;
}

.hero {
    background-image: radial-gradient(50% 176%, #000 80%, #000 100%);
    min-height: 100vh;
    min-height: 67rem;
    position: relative;
    overflow: hidden;
    display: flex;
    margin-top: 0%;
    justify-content: center;
    align-content: center;
}

.snow {
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}

.snow .svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

#snow-top-layer {
    will-change: transform;
    transform: translateY(-768px);
    animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
    will-change: transform;
    transform: translateY(-768px);
    animation: fall 45s infinite linear;
}

@keyframes fall {
    100% {
        transform: translateY(0);
    }
}

.contenedor {
    align-items: center;
    justify-content: center;
    padding: 80px;
}