header {
    text-align: center;
    background-image: url(../estilos/imagen1.jpg);
    height: 150px;
    width: 100%;
    margin-top: 30px;
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media (max-width: 1000px) {
    header {
        /* Reverse the axis of the header, making it vertical. */
        flex-direction: column;
        /* Align items to the begining (the left) of the header. */
        align-items: flex-start;
    }
}

p {
    position: inherit;
}

header div h1 {
    font-family: 'Playfair Display', serif;
    color: aliceblue;
    text-shadow: 1px 2px rgb(0, 0, 0);
}

.grad {
    height: 100%;
    background: red;
    /* For browsers that do not support gradients */
    background: linear-gradient(rgb(111, 166, 224), rgb(5, 77, 116));
}


/**********************************************/

.container {
    /* Por defecto en modo fila, uno al lado del otro */
    display: flex;
    flex-flow: row;
}

.item {
    flex: 1 1 auto;
}

.hover08 img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.hover08 img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}


/********************************************/

table {
    margin: 0 auto;
}

.tt {
    background-color: rgba(12, 12, 12, 0.274)
}


/***** Lista Desplegable*******/

#menu * {
    list-style: none;
}

#menu li {
    line-height: 180%;
}

#menu li a {
    color: #222;
    text-decoration: none;
}

#menu li a:before {
    content: "\025b8";
    color: #ddd;
    margin-right: 4px;
}

#menu input[name="list"] {
    position: absolute;
    left: -1000em;
}

#menu label:before {
    content: "\025b8";
    margin-right: 4px;
}

#menu input:checked~label:before {
    content: "\025be";
}

#menu .interior {
    display: none;
}

#menu input:checked~ul {
    display: block;
}